<h1>Editing Reviews Game</h1>
<h2>test to see changes</h2>
<%= form_for(@reviews_game) do |f| %>
  <% if @reviews_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reviews_game.errors.count, "error") %> prohibited this reviews_game from being saved:</h2>
     <ul>
      <% @reviews_game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :review %><br>
    <%= f.text_area :review %>
  </div>
  <div class="field">
    <%= f.label :stars %><br>
    <%= f.number_field :stars %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>