<p id="notice"><%= notice %></p>

<h1>Listing Reviews Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Developer</th>
      <th>Description</th>
      <th>Review</th>
      <th>Stars</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews_games.each do |reviews_game| %>
      <tr>
        <td><%= reviews_game.name %></td>
        <td><%= reviews_game.type %></td>
        <td><%= reviews_game.developer %></td>
        <td><%= reviews_game.description %></td>
        <td><%= reviews_game.review %></td>
        <td><%= reviews_game.stars %></td>
        <td><%= link_to 'Show', reviews_game %></td>
        <td><%= link_to 'Edit', edit_reviews_game_path(reviews_game) %></td>
        <td><%= link_to 'Delete', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= reviews_game.stars %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reviews game', new_reviews_game_path %>
